name: Docker Image CI

on:
  workflow_dispatch:

  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag ghcr.io/bognarpal/joke-client:0.1        
        docker login ghcr.io -u bognarpal -p ${{secrets.GHCR_TOKEN}}
        docker push ghcr.io/bognarpal/joke-client:0.1